h3{
  color: var(--gold);
  text-transform: uppercase;
}
ul{
  padding: 10px;
}
.movieItem{
  display: flex;
  gap: 15px;
}
.removeBtn{
  height: 20px;
  width: 20px;
  border-radius: 6px;
  color: var(--danger);
  background-color: var(--main-color-light);
}
.removeBtn:hover{
  color: var(--main-color-light);
  background-color: var(--danger);
}

