main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  gap: 20px;
}
h1{
  color: var(--gold);
}
button{
  height: 50px;
  width: 120px;
}
